{% if submitted %}
<div class="plugin-simplesearch-results">
    {% if query == false %}
        <p>{{ translate('simplesearch', 'pleaseEnterASearchTerm') }}</p>
    {% elseif results|length == 0 %}
        <p>{{ translate('simplesearch', 'noResultsFoundForQuery', {'query': query}) }}</p>
    {% else %}
        <p>{{ translate('simplesearch', 'countResultsFound', {'count': results|length}) }}</p>
        {% for result in results %}
            <div class="result">
                <div class="title">{{ page_link(result.route, result.title) }}</div>
                <div class="url">{{ url(result.route) }}</div>
                {% if result.date %}
                    <div class="date">{{ result.date|strftime('%e. %B %Y') }}</div>
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}
</div>
{% endif %}
